Mariana Brinkley: 
Homework 4

In [2]:
import pandas as pd
import numpy as np

In [3]:
#download file 
purchase_data = pd.read_csv("purchase_data.csv.txt")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Total Number of Players
total_players = purchase_data.drop_duplicates(subset=['SN']).shape[0]
total_players =pd.DataFrame({'Total Players': [total_players]})
total_players

   Total Players
0            576

In [5]:
#Run basic calculations to obtain number of unique items

In [6]:
#  average price 
avg_price = purchase_data["Price"].mean()
avg_price ='${:.2f}'.format(avg_price)
avg_price = pd.DataFrame({'Average Price': [avg_price]})
avg_price

  Average Price
0         $3.05

In [7]:
# Total Number of Purchases
total_purchases = purchase_data.shape[0]
total_purchases =pd.DataFrame({'Total Purchases': [total_purchases]})
total_purchases

   Total Purchases
0              780

In [8]:
#Total Revenue
total_revenue = purchase_data['Price'].sum()
total_revenue='${:.2f}'.format(total_revenue)
total_revenue= pd.DataFrame({'Total Revenue': [total_revenue]})
total_revenue

  Total Revenue
0      $2379.77

In [9]:
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame
df_col_merged =pd.concat([total_players, avg_price, total_purchases, total_revenue], axis=1)
df_col_merged

   Total Players Average Price  Total Purchases Total Revenue
0            576         $3.05              780      $2379.77

In [10]:
# Gender Demographics
# Percentage and Count of Male, Female Players and Count of Other / Non-Disclosed

In [11]:
gender_count=purchase_data.groupby(['Gender']).size()
gender_count=pd.DataFrame(gender_count)
gender_count

                         0
Gender
Female                 113
Male                   652
Other / Non-Disclosed   15

In [12]:
gender_percent = purchase_data['Gender'].value_counts(normalize=True) *100
gender_percent =pd.DataFrame(gender_percent)
gender_percent['Gender'] = gender_percent['Gender'].map("{:,.2f}%".format)
gender_percent['Gender'] = pd.DataFrame(gender_percent['Gender'])
gender_percent['Gender']
gender_percent=pd.DataFrame(gender_percent)
gender_percent

                       Gender
Male                   83.59%
Female                 14.49%
Other / Non-Disclosed   1.92%

In [13]:
df_gender_merged =pd.concat([gender_count, gender_percent], axis=1, sort=False)
df_gender_merged
df_gender_merged.rename(columns={0:'Total Count', 'Gender':'Percent of players'})

                       Total Count Percent of players
Female                         113             14.49%
Male                           652             83.59%
Other / Non-Disclosed           15              1.92%

In [24]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame
pc_gender = purchase_data.groupby(["Gender"]).count().sort_values(["Purchase ID"], ascending=False).reset_index()
pc_gender
gender_pc = pc_gender.drop(columns=['SN', 'Age', 'Item ID', 'Item Name', 'Price']).rename(columns={"Purchase ID" : "Purchase Count"})
gender_pc

                  Gender  Purchase Count
0                   Male             652
1                 Female             113
2  Other / Non-Disclosed              15

In [47]:
gender_tp= purchase_data.groupby('Gender')['Price'].sum()
#gender_tp ='${:.2f}'.format(gender_tp)
#gender_tp = pd.DataFrame({'Price': [gender_tp]})
#gender_tp
gender_tp= pd.DataFrame(gender_tp).rename(columns={"Price": "Total Purchase Value"})
gender_tp.reset_index()

                  Gender  Total Purchase Value
0                 Female                361.94
1                   Male               1967.64
2  Other / Non-Disclosed                 50.19