Mariana Brinkley: 
Homework 4

In [263]:
import pandas as pd
import numpy as np

In [264]:
#download file 
purchase_data = pd.read_csv("purchase_data.csv.txt")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [265]:
#Total Number of Players
total_players = purchase_data.drop_duplicates(subset=['SN']).shape[0]
total_players =pd.DataFrame({'Total Players': [total_players]})
total_players

   Total Players
0            576

In [266]:
#Run basic calculations to obtain number of unique items
unique=purchase_data["Item ID"].nunique()
unique
uniqueID=pd.DataFrame({"Number of Unique Items": [unique]})
uniqueID

   Number of Unique Items
0                     183

In [267]:
#  average price 
avg_price = purchase_data["Price"].mean()
avg_price ='${:.2f}'.format(avg_price)
avg_price = pd.DataFrame({'Average Price': [avg_price]})
avg_price

  Average Price
0         $3.05

In [268]:
# Total Number of Purchases
total_purchases = purchase_data.shape[0]
total_purchases =pd.DataFrame({'Total Purchases': [total_purchases]})
total_purchases

   Total Purchases
0              780

In [269]:
#Total Revenue
total_revenue = purchase_data['Price'].sum()
total_revenue='${:.2f}'.format(total_revenue)
total_revenue= pd.DataFrame({'Total Revenue': [total_revenue]})
total_revenue

  Total Revenue
0      $2379.77

In [270]:
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame
df_col_merged =pd.concat([uniqueID, avg_price, total_purchases, total_revenue], axis=1)
df_col_merged

   Number of Unique Items Average Price  Total Purchases Total Revenue
0                     183         $3.05              780      $2379.77

In [271]:
# Gender Demographics
# Percentage and Count of Male, Female Players and Count of Other / Non-Disclosed

In [272]:
gender_count=purchase_data.groupby(['Gender']).size()
#gender_count=pd.DataFrame(gender_count).rename(columns={0: "Gender Count"})
gender_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
dtype: int64

In [273]:
gender_percent = purchase_data['Gender'].value_counts(normalize=True) *100
gender_percent =pd.DataFrame(gender_percent)
gender_percent['Gender'] = gender_percent['Gender'].map("{:,.2f}%".format)
gender_percent['Gender'] = pd.DataFrame(gender_percent['Gender'])
gender_percent['Gender']
gender_percent=pd.DataFrame(gender_percent)
gender_percent

                       Gender
Male                   83.59%
Female                 14.49%
Other / Non-Disclosed   1.92%

In [274]:
df_gender_merged =pd.concat([gender_count, gender_percent], axis=1, sort=False)
df_gender_merged
#df_gender_merged.rename(columns={0: 'Total Count', 'Gender':'Percent of players'})

                         0  Gender
Female                 113  14.49%
Male                   652  83.59%
Other / Non-Disclosed   15   1.92%

In [275]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame
purchase_data["Gender"].unique()
pc_gender =purchase_data["Gender"].value_counts()
pc_gender
# gender_pc = pc_gender.drop(columns=['SN', 'Age', 'Item ID', 'Item Name', 'Price']).rename(columns={"Purchase ID" : "Purchase Count"})
# gender_pc

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [276]:
gender_tp= purchase_data.groupby('Gender')['Price'].sum()
#gender_tp ='${:.2f}'.format(gender_tp)
#gender_tp = pd.DataFrame({'Price': [gender_tp]})
#gender_tp
#gender_tp= pd.DataFrame(gender_tp).rename(columns={"Price": "Total Purchase Value"})
gender_tp

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [277]:
#average purchse price 
#avg_pp = pd.concat([gender_pc, gender_tp], axis=1, sort=False)
#avg_pp

In [278]:
#average = avg_pp['Total Purchase Value']/avg_pp['Purchase Count']
#average = pd.DataFrame(average).rename(columns={0: "Average price per Gender"})
average =gender_tp/pc_gender
average

Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [279]:
#avg_total2=avg_total['Total Revenue']/avg_total['Total Purchases']
percent=purchase_data['Gender'].value_counts(normalize=True)
x= percent * 576
percent_total=gender_tp/x
percent_total

Female                   4.337408
Male                     4.086676
Other / Non-Disclosed    4.531042
dtype: float64

In [280]:
chart = {'Purchase Count': pc_gender, 'Average Purchase Price': average, 'Total Purchase Value': gender_tp, 'Avg Total Per Person': percent_total}
gender_chart=pd.DataFrame(data=chart)
gender_chart

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Per Person
Female,113,3.203009,361.94,4.337408
Male,652,3.017853,1967.64,4.086676
Other / Non-Disclosed,15,3.346000,50.19,4.531042

In [281]:
# Age Demographics
# Optional: round the percentage column to two decimal points
# Display Age Demographics Table

In [282]:
# Establish bins for ages
bins=[0.0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999.9]
grouplabels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
agedf = purchase_data.groupby(pd.cut(purchase_data['Age'], bins, labels=grouplabels))
agedf

In [283]:
# Display Age Demographics Table
AgeDem= pd.DataFrame({"Total Count": agedf["Price"].count(), "Percentage of Players": agedf["Price"].count()/576*100})
AgeDem

       Total Count  Percentage of Players
Age
<10             23               3.993056
10-14           28               4.861111
15-19          136              23.611111
20-24          365              63.368056
25-29          101              17.534722
30-34           73              12.673611
35-39           41               7.118056
40+             13               2.256944

In [284]:
#  Purchasing Analysis (Age)
 # Bin the purchase_data data frame by age
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
# Display the summary data frame

In [480]:
AgeDemGroup =pd.DataFrame({"Purchase Count": agedf["Price"].count(), "Average Purchase Price": agedf["Price"].mean(), 
                           "Total Purchase Value": agedf["Price"].sum(), 
                           "Avg Total Purchase per Person": agedf["Price"].sum()/purchase_data["SN"].nunique()})
AgeDemGroup.reset_index()

,Age,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,3.353478,77.13,0.133906
1,10-14,28,2.956429,82.78,0.143715
2,15-19,136,3.035956,412.89,0.716823
3,20-24,365,3.052219,1114.06,1.934132
4,25-29,101,2.900990,293.00,0.508681
5,30-34,73,2.931507,214.00,0.371528
6,35-39,41,3.601707,147.67,0.256372
7,40+,13,2.941538,38.24,0.066389

In [481]:
#  Top Spenders
# Run basic calculations to obtain the results in the table below

# Create a summary data frame to hold the results

# Sort the total purchase value column in descending order

# Optional: give the displayed data cleaner formatting

# Display a preview of the summary data frame

In [482]:
#Top spenders: SN = Purchase Count
purchase_data["SN"].unique()
Top_SN=purchase_data["SN"].value_counts()
#Top_SN=pd.DataFrame(Top_SN)
#Top_SN.sort_values(by="SN", ascending=False).head()
Top_SN.head()

Lisosia93       5
Idastidru52     4
Iral74          4
Saedaiphos46    3
Aina42          3
Name: SN, dtype: int64

In [483]:
#Average Purchase Price
# averageSN =TPV_SN/Top_SN
# averageSN.head()

In [484]:
#Total Purchase Value
TPV_SN= purchase_data.groupby('SN')['Price'].sum()
#TPV_SN=pd.DataFrame(TPV_SN)
TPV_SN.head()
#TPV_SN =TPV_SN.sort_values(by='Price', ascending=False)
#TPV_SN.head().reset_index()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [485]:
#average purchase Price
averageSN =TPV_SN/Top_SN
averageSN.head()

Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
dtype: float64

In [486]:
Top_Spenders=pd.DataFrame({"Purchase Count": Top_SN, "Average Purchase Price": averageSN, "Total Purchase Value": TPV_SN})
Top_Spendersdf=Top_Spenders.sort_values(by='Total Purchase Value', ascending=False)
Top_Spendersdf.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [487]:
# Most Popular Items
# Retrieve the Item ID, Item Name, and Item Price columns
#Popular_df=purchase_data.drop(columns=['Purchase ID', 'SN', 'Age', 'Gender']).rename(columns={"Price": "Item Price"})
#Popular_df.head()
Popular_df = purchase_data[['Item ID','Item Name', 'Price']]
Popular_df.head().rename(columns={"Price": "Item Price"})

   Item ID                                  Item Name  Item Price
0      108  Extraction, Quickblade Of Trembling Hands        3.53
1      143                          Frenzied Scimitar        1.56
2       92                               Final Critic        4.88
3      100                                Blindscythe        3.27
4      131                                       Fury        1.44

In [488]:
Price_df=purchase_data[['Price']]
Price_df.head()

   Price
0   3.53
1   1.56
2   4.88
3   3.27
4   1.44

In [497]:
#purchase count
Popular_df["Item Name"].unique()
Popular_count=purchase_data["Item Name"].value_counts()
Popular_count=pd.DataFrame(Popular_count).rename(columns={"Item Name": "Purchase Count"})
#.drop(columns=['index'])

#Popular_count2=pd.DataFrame({"Price": Price_df, "Purchase Count": Popular_df})
Popular_count.head()

                                              Purchase Count
Final Critic                                              13
Oathbreaker, Last Hope of the Breaking Storm              12
Persuasion                                                 9
Extraction, Quickblade Of Trembling Hands                  9
Fiery Glass Crusader                                       9

In [490]:
#total purchase value
Popular_total= Popular_df.groupby('Item Name')['Price'].sum()
Popular_total=pd.DataFrame(Popular_total).rename(columns={"Price": "Total Purchase Value"})
Popular_total.head()#.drop(columns=['Item Name'])

                                Total Purchase Value
Item Name
Abyssal Shard                                  13.35
Aetherius, Boon of the Blessed                 16.95
Agatha                                         18.48
Alpha                                           6.21
Alpha, Oath of Zeal                            12.15

In [493]:
#df=pd.DataFrame({"Purchase Count": Popular_count, "Price": Price_df, "Total Purchase Value": Popular_total})
#pd.concat([Popular_count, Popular_total], verify_integrity=True, sort=True)

In [ ]:
#  Most Profitable Items 
# Sort the above table by total purchase value in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the data frame