In [29]:
import pandas as pd
import numpy as nd

In [30]:
#download file 
purchase_data = pd.read_csv("purchase_data.csv.txt")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [114]:
#Total Number of Players
total_players = purchase_data.drop_duplicates(subset=['SN']).shape[0]
total_players =pd.DataFrame({'Total Players': [total_players]})
total_players

   Total Players
0            576

In [ ]:
#Run basic calculations to obtain number of unique items

In [99]:
#  average price 
avg_price = purchase_data["Price"].mean()
avg_price ='${:.2f}'.format(avg_price)
avg_price = pd.DataFrame({'Average Price': [avg_price]})
avg_price

  Average Price
0         $3.05

In [100]:
# Total Number of Purchases
total_purchases = purchase_data.shape[0]
total_purchases =pd.DataFrame({'Total Purchases': [total_purchases]})
total_purchases

   Total Purchases
0              780

In [101]:
#Total Revenue
total_revenue = purchase_data['Price'].sum()
total_revenue='${:.2f}'.format(total_revenue)
total_revenue= pd.DataFrame({'Total Revenue': [total_revenue]})
total_revenue

  Total Revenue
0      $2379.77

In [117]:
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
#analysis = {'Average Price':['avg_price'], 
#            'Total Purchases':['total_purchases'],
#            'Total Revenue':['total_revenue']}
#analysis_df=pd.DataFrame(analysis,columns=['Average Price', 'Total Purchases', 'Total Revenue'])
#analysis_df
df_col_merged =pd.concat([total_players, avg_price, total_purchases, total_revenue], axis=1)
df_col_merged

   Total Players Average Price  Total Purchases Total Revenue
0            576         $3.05              780      $2379.77

In [ ]:
# Display the summary data frame