Mariana Brinkley: 
Homework 4

In [1]:
import pandas as pd
import numpy as np

In [2]:
#download file 
purchase_data = pd.read_csv("purchase_data.csv.txt")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Total Number of Players
total_players = purchase_data.drop_duplicates(subset=['SN']).shape[0]
total_players =pd.DataFrame({'Total Players': [total_players]})
total_players

   Total Players
0            576

In [4]:
#Run basic calculations to obtain number of unique items

In [5]:
#  average price 
avg_price = purchase_data["Price"].mean()
avg_price ='${:.2f}'.format(avg_price)
avg_price = pd.DataFrame({'Average Price': [avg_price]})
avg_price

  Average Price
0         $3.05

In [6]:
# Total Number of Purchases
total_purchases = purchase_data.shape[0]
total_purchases =pd.DataFrame({'Total Purchases': [total_purchases]})
total_purchases

   Total Purchases
0              780

In [7]:
#Total Revenue
total_revenue = purchase_data['Price'].sum()
total_revenue='${:.2f}'.format(total_revenue)
total_revenue= pd.DataFrame({'Total Revenue': [total_revenue]})
total_revenue

  Total Revenue
0      $2379.77

In [8]:
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame
df_col_merged =pd.concat([total_players, avg_price, total_purchases, total_revenue], axis=1)
df_col_merged

   Total Players Average Price  Total Purchases Total Revenue
0            576         $3.05              780      $2379.77

In [9]:
# Gender Demographics
# Percentage and Count of Male, Female Players and Count of Other / Non-Disclosed

In [10]:
gender_count=purchase_data.groupby(['Gender']).size()
#gender_count=pd.DataFrame(gender_count).rename(columns={0: "Gender Count"})
gender_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
dtype: int64

In [11]:
gender_percent = purchase_data['Gender'].value_counts(normalize=True) *100
gender_percent =pd.DataFrame(gender_percent)
gender_percent['Gender'] = gender_percent['Gender'].map("{:,.2f}%".format)
gender_percent['Gender'] = pd.DataFrame(gender_percent['Gender'])
gender_percent['Gender']
gender_percent=pd.DataFrame(gender_percent)
gender_percent

                       Gender
Male                   83.59%
Female                 14.49%
Other / Non-Disclosed   1.92%

In [12]:
df_gender_merged =pd.concat([gender_count, gender_percent], axis=1, sort=False)
df_gender_merged
#df_gender_merged.rename(columns={0: 'Total Count', 'Gender':'Percent of players'})

                         0  Gender
Female                 113  14.49%
Male                   652  83.59%
Other / Non-Disclosed   15   1.92%

In [13]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame
purchase_data["Gender"].unique()
pc_gender =purchase_data["Gender"].value_counts()
pc_gender
# gender_pc = pc_gender.drop(columns=['SN', 'Age', 'Item ID', 'Item Name', 'Price']).rename(columns={"Purchase ID" : "Purchase Count"})
# gender_pc

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [14]:
gender_tp= purchase_data.groupby('Gender')['Price'].sum()
#gender_tp ='${:.2f}'.format(gender_tp)
#gender_tp = pd.DataFrame({'Price': [gender_tp]})
#gender_tp
#gender_tp= pd.DataFrame(gender_tp).rename(columns={"Price": "Total Purchase Value"})
gender_tp

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [15]:
#average purchse price 
#avg_pp = pd.concat([gender_pc, gender_tp], axis=1, sort=False)
#avg_pp

In [18]:
#average = avg_pp['Total Purchase Value']/avg_pp['Purchase Count']
#average = pd.DataFrame(average).rename(columns={0: "Average price per Gender"})
average =gender_tp/pc_gender
average

Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [19]:
#avg_total2=avg_total['Total Revenue']/avg_total['Total Purchases']
percent=purchase_data['Gender'].value_counts(normalize=True)
x= percent * 576
percent_total=gender_tp/x
percent_total

Female                   4.337408
Male                     4.086676
Other / Non-Disclosed    4.531042
dtype: float64

In [23]:
chart = {'Purchase Count': pc_gender, 'Average Purchase Price': average, 'Total Purchase Value': gender_tp, 'Avg Total Per Person': percent_total}
gender_chart=pd.DataFrame(data=chart)
gender_chart

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Per Person
Female,113,3.203009,361.94,4.337408
Male,652,3.017853,1967.64,4.086676
Other / Non-Disclosed,15,3.346000,50.19,4.531042